{% extends 'base.html' %}

{% block content %}

<div class="row mx-auto justify-content-center">
        <form action="{% url 'register' %}" method="POST">
            <div class="col-4">
                {% for item in form %}
                {% csrf_token %}
                {% if field != "Next" %}
                <div class="col-sm-10">
                    <p><label for="{{item.id_for_label}}">{{item.label}}:</label></p>
                    <p>{{item}}</p>
                    <p>{{item.errors}}</p>
                </div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary" value="Sign-in">Зарегистрироваться</button>
        </form>
    
</div>


{% endblock %}